<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-E5HB6L2L9C"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-E5HB6L2L9C');
	</script>
	<title>Truck Cargo Planner</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" type="image/x-icon" href="assets/code.ico">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Mulish&family=Raleway&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
	<link rel="stylesheet" type="text/css" href="main.css" th:href="main.css">
</head>
<body>
	<section class="container">
		<div class="row">
			<div class="col-lg-12 mx-auto">
				<div th:if="${displaySectionDTO.menuNav}" class="float-start">
					<form th:action="@{/specifications}" target="_blank">
						<input type="submit" value="Specifications"/>
					</form>
				</div>
				<div th:if="${displaySectionDTO.menuNav}" class="float-start">
					<form th:action="@{/packagingInstruction}" target="_blank">
						<input type="submit" value="Packaging Instruction"/>
					</form>
				</div>
				<div th:if="${displaySectionDTO.menuNav}" class="float-start">
					<form th:action="@{/emptiesList}" target="_blank">
						<input type="submit" value="Empties List"/>
					</form>
				</div>
				<div th:if="${displaySectionDTO.menuNav}" class="float-start">
					<form th:action="@{/createCargoList}">
						<input type="submit" value="Create Cargo List"/>
					</form>
				</div>
				<div th:if="${displaySectionDTO.menuNav}" class="float-start">
					<form th:action="@{/display}">
						<input type="submit" value="Back to main page"/>
					</form>
				</div>
				<div th:if="${displaySectionDTO.menuNav}" class="float-end">
					<form th:action="@{/logout}">
						<input type="submit" value="Logout"/>
					</form>
				</div>
				<div class="float-end mx-2 my-1"><span>You are logged in as: </span><strong><span th:text="${username}"></span></strong></div>
			</div>
		</div>
	</section>
	
	<section th:if="${displaySectionDTO.aboutNav}" class="container">
		<div class="row">
			<div class="col-lg-12 mx-auto">
				<h3>Truck Cargo Planner</h3>
				<h4>Motivation of the software</h4>
				<p>The software operates in the field of bulk goods in the central warehouse of a machine parts distributor.
				The coordinator can make packing instructions and do the cargo plan of the trucks arriving for delivery with usage of this software.
				The items to be shipped have different packaging instructions.
				An unlimited amount of different types of products and empties are available in the warehouse.</p>
				<p>You can make the cargo plan regarding cargo space, different weigths and detailed list in the end.</p>
				<h4>How the program is working?</h4>
				<p>There are three tables to help you to do the cargo plan or check it what you done: Specifications, Packaging Instruction, Empties list.</p>
				<h5>Specifications Menu</h5>
				<p>It contains regulations for the packaging and loading of bulk goods.</p>
				<h5>Packaging Instruction Menu</h5>
				<p>This list includes packaging requirements for various machine parts regarding its type of empties and its quantities. In addition it contain requirement to place the goods on a pallet.</p>
				<h5>Empties List Menu</h5>
				<p>This list contains different types of empties and its names and its weights used for packaging.</p>
				<h5>Create Cargo List Menu</h5>
				<p>You can start the calculation and planning process here. This will drive you over the selection till the end result of calculation.</p>
			</div>
		</div>
	</section>
	
	<section th:if="${displaySectionDTO.specificationsNav}" class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				
				<h4>Specifications</h4>
				<ol>
					<li>To be delevered quatity rounded up to the smallest packaging unit.</li>
					<li>Smallest packaging unit is a box, a lattice container or a wooden chest.</li>
					<li>In case of whole pallet with plastic boxes you need to put lid on the top the boxes, because of the stackability.</li>
					<li>Pallets can only be stacked two levels high in the truck, the lower pallet must be stackable.</li>
					<li>In case of whole pallet with cardboard boxes must not  put lid on the top the boxes.</li>
					<li>In case of not whole pallet with boxes must not put lid on the top of the boxes.</li>
					<li>Lattic boxes and wooden boxes are stackable.</li>
					<li>Different items can not be packed together.</li>
					<li>All transport units must be wrapped in a circle wih foil.</li>
					<li>All plastic lid are suitable for the tops of all plastic boxes.</li>
				</ol>
			</div>
		</div>
	</section>
	
	<section th:if="${displaySectionDTO.packagingInstructionNav}" class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<table class="table caption-top">
				<caption>Packaging instruction</caption>
					<thead>
						<tr class="border-bottom">
							<th>#</th>
							<th>Item number</th>
							<th>Weight (kg/pc)</th>
							<th>Pallet type</th>
							<th>Box type</th>
							<th>Pcs in pallet</th>
							<th>Pcs in box</th>
							<th>Boxes in row</th>
							<th>Rows on pallet</th>
							<th>Pallet stackable</th>
						</tr>
					</thead>
					<tbody>
						<tr class="border-bottom" th:object="${pack}" th:each="pack,stat : ${packagingInstruction}">
							<td th:text="${stat.count}">1</td>
							<td th:text="*{itemNo}">Nr0001</td>
							<td class="text-end" th:text="*{weight}">10.4</td>
							<td th:text="*{palletType}">pal002</td>
							<td th:text="*{boxType}">box005</td>
							<td class="text-end" th:text="*{pcsInBox} * *{boxesInRow} * *{rowsOnPallet}">960</td>
							<td class="text-end" th:text="*{pcsInBox}">40</td>
							<td class="text-end" th:text="*{boxesInRow}">8</td>
							<td class="text-end" th:text="*{rowsOnPallet}">3</td>
							<td th:text="*{stackable}">true</td>
						</tr>
						<tr th:remove="all">
							<td>2</td>
							<td>Nr0002</td>
							<td>108</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	
	<section th:if="${displaySectionDTO.emptiesListNav}" class="container">
		<div class="row">
			<div class="col-lg-6 mx-auto">
				<table class="table caption-top border-bottom">
				<caption>Boxes and containers list</caption>
					<thead>
						<tr class="border-bottom">
							<th>#</th>
							<th>Type</th>
							<th>Name</th>
							<th class="text-end">Weight (kg/pc)</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="box,stat : ${boxesAndContainersList}" th:class="${#strings.equals(box.boxName, 'Silver Box') ? 'silver' 
						: #strings.equals(box.boxName, 'Orange Box') ? 'orange' : #strings.equals(box.boxName, 'Light Blue Box') ? 'light_blue' : #strings.equals(box.boxName, 'Red Box') ? 'red' 
						: #strings.equals(box.boxName, 'Grey Box') ? 'grey' : #strings.equals(box.boxName, 'Green Box') ? 'green' : #strings.equals(box.boxName, 'Brown Box') ? 'brown' 
						: #strings.equals(box.boxName, 'Blue Box') ? 'blue' : #strings.equals(box.boxName, 'Purple Box') ? 'purple' : #strings.equals(box.boxName, 'Black Box') ? 'black' 
						: #strings.equals(box.boxName, 'Light Green Box') ? 'light_green' : ''}">
							<td class="border-bottom" th:text="${stat.count}">1</td>
							<td class="border-bottom" th:text="${box.boxType}">box001</td>
							<td class="border-bottom" th:text="${box.boxName}">Cardboard Box</td>
							<td class="border-bottom text-end" th:text="${box.boxWeight}">1.0</td>
						</tr>
						<tr th:remove="all">
							<td>2</td>
							<td>Nr0002</td>
							<td>108</td>
						</tr>
					</tbody>
				</table>
				<span>Color usage for transparency.</span>
			</div>
			
			<div class="col-lg-6 mx-auto">
				<table class="table caption-top border-bottom">
				<caption>Pallets and lids list</caption>
					<thead>
						<tr class="border-bottom">
							<th>#</th>
							<th>Type</th>
							<th>Name</th>
							<th>Pallet (kg/pc)</th>
							<th>Lid (kg/pc)</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pallet,stat : ${palletsAndLidsList}">
							<td class="border-bottom" th:text="${stat.count}">1</td>
							<td class="border-bottom" th:text="${pallet.palletType}">box001</td>
							<td class="border-bottom" th:text="${pallet.palletName}">Cardboard Box</td>
							<td class="border-bottom text-end" th:text="${pallet.palletWeight}">1.0</td>
							<td class="border-bottom text-end" th:text="${pallet.lidWeight}">1.0</td>
						</tr>
						<tr th:remove="all">
							<td>2</td>
							<td>Nr0002</td>
							<td>108</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</section>
	
	<section th:if="${displaySectionDTO.createCargoListSelectNav}" id="list_select" class="container">
		<div class="row">
			<div class="col-lg-12 mx-auto">
			<h3>Truck Cargo Planner</h3>
			<p>Please select the item numbers of products to be delivered and click the Submit button below. After selecting all of the required items click the "Add quantities" pop-up button below to confirm the process.</p>
				<form action="#" th:action="@{/createCargoListSelect}" th:object="${itemNumberSetDTO}" method="post">
				<ul>
					<li class="d-inline-block mx-4 my-2" th:each="iMap : ${itemMap}">
						<input type="checkbox" th:field="*{itemNumberSet}" th:value="${iMap.key}">
						<label for="${#ids.next('iMap')}" th:text="${iMap.value}">NR0001</label>
					</li>
				</ul>
					<input type="submit" value="Submit">
				</form><br>
				<div th:if="${list}">
					<p>You have selected out the following items for shipping: <strong><span th:text="${list}"></span></strong></p>
					<p>If you want to deliver the goods you selected please click the "Add quantities" button, otherwise select new items and push submit button again!</p><br>
					<div class="float-end">
					<form th:action="@{/createCargoListQuantity}" method="post">
						<input type="submit" value="Add quantities"/>
					</form>
					</div>
				</div>
				<form th:action="@{/display}">
					<input type="submit" value="Back to main page"/>
				</form>
			</div>
		</div>
	</section>
	
	<section th:if="${displaySectionDTO.createCargoListMainNav}" class="container">
		<div class="row">
			<h3>Truck Cargo Planner</h3>

			<div class="col-lg-5 mx-auto">
			<p>To add the required quantity click the "Change qty" button in the last column next to the selected Item Number.</p>
			<h5 th:if="${qtyError}" th:text="${qtyError}" class="text-center text-danger">Please enter a positive integer on the form on the next page!</h5>
				<table class="table caption-top border-bottom">
				<caption>Items To Be Delivered</caption>
					<thead>
						<tr class="border-bottom">
							<th>#</th>
							<th>Item Number</th>
							<th>Quantity Required</th>
							<th>Quantity To Be Delivered</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr class="border-bottom" th:object="${item}" th:each="item,stat : ${cargoItemList}">
							<td th:text="${stat.count}">1</td>
							<td th:text="*{itemNumber}">Nr0001</td>
							<td class="text-end" th:text="*{qtyNeeds}">0</td>
							<td class="text-end" ><strong><span th:text="*{qtyToBeDelivered}">0</span></strong></td>
							<td class="text-center"><form th:action="@{/modifyQuantity(id=${item.id})}" method="post"><input type="submit" value="Change qty"/></form></td>  <!-- Need to be post! -->
						</tr>
						<tr th:remove="all">
							<td>2</td>
							<td>Nr0002</td>
							<td>108</td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="col-lg-5 mx-auto">
				<table class="table caption-top border-bottom">
				<caption>Cargo Details</caption>
					<thead>
						<tr class="border-bottom">
							<th></th>
							<th>Quantity</th>
							<th>Qty units</th>
						</tr>
					</thead>
					<tbody th:object="${cargoListDTO}">
						<tr class="border-bottom">
							<td>Netto weight:</td>
							<td class="text-end" th:text="*{nettoWeight}"></td>
							<td>kg</td>
						</tr>
						<tr class="border-bottom">
							<td>Empties weight:</td>
							<td class="text-end" th:text="*{emptiesWeight}"></td>
							<td>kg</td>
						</tr>
						<tr class="border-bottom">
							<td>Gross weight:</td>
							<td class="text-end" th:text="*{bruttoWeight}"></td>
							<td>kg</td>
						</tr>
						<tr class="border-bottom">
							<td>Number of pallet(s):</td>
							<td class="text-end" th:text="*{numberOfPallets}"></td>
							<td>pc(s)</td>
						</tr>
						<tr class="border-bottom">
							<td>- from this whole pallet(s):</td>
							<td class="text-end" th:text="*{numberOfWholePallets}"></td>
							<td>pc(s)</td>
						</tr>
						<tr class="border-bottom">
							<td>- from this not whole pallet(s):</td>
							<td class="text-end" th:text="*{numberOfNotWholePallets}"></td>
							<td>pc(s)</td>
						</tr>
						<tr class="border-bottom">
							<td>Required space in EUR pallet(s):</td>
							<td class="text-end" th:text="*{loadingSpace}"></td>
							<td>pc(s)</td>
						</tr>
					</tbody>
				</table>

				<div th:unless ="${cargoListDTO.empties.isEmpty}">
					<table class="table caption-top border-bottom">
					<caption>Empties List</caption>
						<thead>
							<tr class="border-bottom">
								<th>#</th>
								<th>Title</th>
								<th class="text-end">Quantity</th>
								<th>Qty units</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="element,stat : ${cargoListDTO.empties}" th:class="${#strings.equals(element.key, 'Silver Box') ? 'silver' 
							: #strings.equals(element.key, 'Orange Box') ? 'orange' : #strings.equals(element.key, 'Light Blue Box') ? 'light_blue' : #strings.equals(element.key, 'Red Box') ? 'red' 
							: #strings.equals(element.key, 'Grey Box') ? 'grey' : #strings.equals(element.key, 'Green Box') ? 'green' : #strings.equals(element.key, 'Brown Box') ? 'brown' 
							: #strings.equals(element.key, 'Blue Box') ? 'blue' : #strings.equals(element.key, 'Purple Box') ? 'purple' : #strings.equals(element.key, 'Black Box') ? 'black' 
							: #strings.equals(element.key, 'Light Green Box') ? 'light_green' : ''}">
								<td class="border-bottom" th:text="${stat.count}">1</td>
								<td class="border-bottom" th:text="${element.key}">Green Box</td>
								<td class="border-bottom text-end" th:text="${element.value}">13</td>
								<td class="border-bottom">pc(s)</td>
							</tr>
						</tbody>
					</table>
					<span>Color usage for transparency.</span>
				</div><br>

			</div>
			
		</div>
	</section>

	<section th:if="${displaySectionDTO.modifyQuantityNav}" class="container">
		<div class="row">
			<div class="col-lg-4 mx-auto">
			<h3>Truck Cargo Planner</h3>
			<h5>Change Requested Quantity</h5><br>
			<p>Please note if delivered quatity rounded up to the smallest packaging unit.</p>
			<h6 class="text-center">Please enter a positive integer as requested shipping quantity!</h6>
			<span>Item number: </span><strong><span th:text="${cargoItemDTO.itemNumber}"></span></strong>
			<form th:action="@{/modifyCargoItem}" th:object="${cargoItemDTO}" method="post">  <!-- Need to be post! -->
				<input type="hidden" th:field="*{id}">
				<input type="hidden" th:field="*{itemNumber}">
				<input type="hidden" th:field="*{qtyToBeDelivered}">
				<label for="quantity">Quantity:</label>
				<input type="text" th:field="*{qtyNeedsString}"><br>
				<input type="submit" value="Ok">
			</form>
			</div>
		</div>
	</section>
	<div class="text-center"><br>
		<small class="text-center">©2021 <i class="far fa-eye"></i> Tamas Fulop <i class="far fa-eye"></i> Email: tamas (dot) fulop (dot) eftomi (at) gmail (dot) com</small>
		<br><small>version: 1.3</small>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>